{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main_portal/main.css' %}">
    <script src="https://cdn.tiny.cloud/1/ud1hgjwhi4yzsomd6xr2y7mddo3om4lpeitndwouu8lndw9g/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- <script>
      tinymce.init({selector:'textarea'});
    </script> -->
    <meta charset="utf-8" name="viewport" content="width=device-width">
  <!-- <script src="https://code.jquery.com/jquery-1"></script> -->
    <title>{% block title %}{% endblock title %}</title>
   </head>
   <body>
     <!--Navbar-->
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark header-color">
        <a class="navbar-brand" href="#"> <i class="fab fa-react"></i> ReactJS Training Course</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'portal-home'%}"><b>Home</b>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portal-participants'%}"><b>Participants</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portal-announcements'%}"><b>Announcements</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portal-schedule'%}"><b>Schedule</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portal-downloads'%}"><b>Downloads</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portal-gallery'%}"><b>Gallery</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portal-contacts'%}"><b>Contacts</b></a>
            </li>
          </ul>
        </div>

        <div class="login-buttons float-left" id="navbarSupportedContent">
        {% if not user.is_authenticated%}
          <a href="{% url 'user-login'%}" class="btn btn-default default-color btn-sm" >
            Login</a>
          <a href="{% url 'user-register'%}" class="btn btn-default default-color btn-sm" >
            Register</a>
        {%else%}
          <a href="{% url 'user-logout'%}" class="btn btn-default default-color btn-sm" >
          Logout</a>
        {% endif %}
        </div>
      </nav>
    <br>

      {% if messages %}
      <div class="container pt-5">
          <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{message |safe}}
            </div>
            {% endfor %}
          </ul>
      </div>
      {% endif %}


  {% block content %}{% endblock %}

      <footer class="page-footer font-small blue header-color">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> ReactJS Training Course - Updates Software <br> <small>Designed with love and passion by <a href="https://www.linkedin.com/in/deshpande-omkar">Omkar Deshpande.</a></small>
        </div>
        <!-- Copyright -->

      </footer>

      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $( function() {
        $( "#datepicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd"
        });
      } );
      </script>
      <script>
      $( function() {
    var dateFormat = "yy-mm-dd",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          dateFormat: "yy-mm-dd"
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        dateFormat: "yy-mm-dd"
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
      </script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>
    <!-- <script id="dsq-count-scr" src="https://collegebytes.disqus.com/count.js" async></script> -->
  </body>
</html>
