{% extends "main_portal/base_layout.html" %}
{% block title %}
 {{info.title}}
{% endblock title%}
{% block content %}
<main role="main" class="container ">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid pt-5">
        <div class="col-md-12 text-center">
          <div class="container my-4 py-4 z-depth-1">
            <h1>Welcome!</h1>
            <h5>Let's explore this amazing journey of <span style="color:#15AABF; font-weight:bold">ReactJS</span>!</h5>
            <small>Organized by: <br><b>Mahatma Gandhi Mission's College of Engineering, Nanded.</b></small>
            <br><small>Starting from <br><b>11:30 am - 06th June 2020</b></small>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>
<div class="overview col-md-12 p-3 text-center">
  <h2>Course Overview:</h2>
  <p class="p-4 text-justify">Almost everyone is connected on Whatsapp, Instagram and Facebook. Ever wondered how these applications work in the backend? Wondered how Netflix provides seamless services to its users? Or how PayPal manages thousands of transactions? When you request a ride on Uber, what's the underlying technology behind it? Well, its React-JS! </p>
</div>
<div class="why col-md-12 p-3 text-center">
  <h2>Why Learn React?</h2>
  <p class="p-4 text-justify">The features of ReactJS have made it immensely popular that almost all the tech giants are switching to ReactJS, and hence, looking for ReactJS Developers. In fact, the Stackoverflow's Developer's Survey states that Javascript is the Most Popular Technology in the industry today, but there are fewer developers currently to cater the need of this industry, hence paving a path for its high demand. Learning to code in React will henceforth offer you a quick hire in this demanding profile! </p>
</div>
<div class="overview col-md-12 p-3 text-center">
  <h2>Outcome:</h2>
  <p class="p-4">Of course, an e-certificate. But what really you get is - to grow as a developer and build projects, apply for ReactJS internships/Freelancing, Hackathon Projects etc. The opportunities are wide open! </p>
  <p class="p-4"><b>Pre-requisite:</b>Your interest and motive to learn React!</p>
</div>
<div class="why col-md-12 p-3 text-center">
  <h2>Approach</h2>
  <p class="p-4 text-justify">Technologies like ReactJS are boring when taught by a mentor/trainer, and super interesting and fun while self-learning. We provide you with a path, a mentor, necessary resources, QnA sessions and more to help you develop as a ReactJS Developer.
  Further, based on the consistency of the participating students, we also have prizes! 1st - 2000rs/- and 2nd - 1000rs/-
  <br><br>Fees:  Non-CSI - Rs. 100/-  and CSI - Free</b></p>

</div>
{% endblock content %}
