{% extends "main_portal/base_layout.html" %}
{% block title %}
 {{info.title}}
{% endblock title%}

{% block content %}
<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="container my-5 py-5 z-depth-1">
        {% if request.user.is_superuser %}
            <h3 class="p-3" style="border: 1px dashed #15AABF">Dear Admin, Please <a href="{% url 'get-updates'%}">click here</a> to view all the Updates.</h3>
        {% endif %}
        <p class="issues-description text-justify p-2"><small>Hi {{user.first_name}}! Happy to inform that you can now submit your queries to us! Feel free. Happy Learning!</small></p>
          <p style="text-align: right"><a href="{% url 'add-update' %}"><i class="fas fa-pencil-alt"></i> Add Update</a>
            &ensp;  <a href="{% url 'add-issue' %}"><i class="fas fa-question-circle"></i> Add Query</a>
            <!-- &ensp;  <a href="{% url 'add-update' %}"><i class="fas fa-pencil-alt"></i> All Queries</a> -->
          </p>
        <hr><section class="text-center px-md-5 mx-md-5 dark-grey-text">
          <!-- <br><p class="update-description z-depth-0"><small > <b>Notification: </b>       </small></p> -->
          <h3 class="font-weight-bold">Your Updates</h3><hr>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              {%for post in info.posts%}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{post.date_posted}}</td>
                  <td>{{post.title}}</td>
                  <td>{{post.content | safe}}</td>
                </tr>
              {%endfor%}

            </tbody>
          </table>

        </section>
        <!--Section: Content-->
</div>
    </div>
  </div>
</main>
<!-- Button trigger modal -->


{% endblock content %}
